__pycache__/
*.pyc
*.pyo
*.pyd
.vscode/

.env
.env.*
*.log
*.tmp
*.bak
*.pem
*.key
*.ppk
*.crt
*.csr
id_rsa*
id_ed25519*

config.json
gui.ini
icons_pos.json
*.db
*.sqlite
*.sqlite3
app.manifest
!app.manifest

build/
dist/
build_windows_exe.ps1
web/
*.exe
*.msi
*.zip
*.7z
*.spec
!Xyra.spec
